<div class="patient-card" fxLayoutAlign="space-between">
  <div class="left-card" fxFlex="30%">
    <div class="patient-name">Patient Name</div>
  </div>

  <div class="center-card" fxFlex="30%">
    <div class="patient-arrhythmias">
      <div>Arrhythmias</div>
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </div>

  <div class="right-card" fxFlex="30%" fxLayout="column" fxLayoutAlign="space-between">
    <div class="created-date">00/00/00</div>
    <div class="status" fxLayoutAlign="center">
      <button class="btn">Status</button>
    </div>
  </div>
</div>
