<div
  class="patient-card"
  fxLayoutAlign.gt-md="space-between"
  [ngClass]="{
    done: card.status === 'DONE',
    rejected: card.status === 'REJECTED'
  }"
>
  <div
    class="left-card"
    fxFlex.gt-md="30%"
    fxLayout.gt-md="column"
    fxLayoutAlign.gt-md="flex-start"
  >
    <div class="patient-name">{{ card.patientName }}</div>
  </div>

  <div class="center-card" fxFlex.gt-md="30%">
    <div class="patient-arrhythmias">
      <div>Arrhythmias</div>
      <ul>
        <li *ngFor="let arrhythmia of card.arrhythmias">{{ arrhythmia }}</li>
      </ul>
    </div>
  </div>

  <div
    class="right-card"
    fxFlex.gt-md="30%"
    fxLayout.gt-md="column"
    fxLayoutAlign.gt-md="space-between flex-end"
  >
    <div class="created-date">{{ card.createdDate | date }}</div>
    <mat-select
      class="btn"
      [value]="card.status"
      (selectionChange)="onChangeStatus($event.value)"
    >
      <mat-option
        *ngFor="let choice of ['PENDING', 'REJECTED', 'DONE']"
        [value]="choice"
        [ngClass]="{
          'display-none': choice === card.status,
          pending: choice === 'PENDING',
          rejected: choice === 'REJECTED',
          done: choice === 'DONE'
        }"
      >
        {{ choice }}
      </mat-option>
    </mat-select>
  </div>
</div>
