.patient-card {
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--text-color);
  padding: 10px;

  .left-card,
  .center-card,
  .right-card {
    text-align: center;
  }

  .left-card {
    .patient-name {
      color: var(--bg-column);
      background-color: var(--text-color);
      padding: 10px;
      border-radius: 10px;
      text-align: center;
    }
  }

  .center-card {
    .patient-arrhythmias {
      height: calc(100% - 20px);
      div {
        height: 20%;
      }
      ul {
        height: 80%;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        border: 1px solid var(--text-color);
        border-radius: 10px;
      }
    }
  }

  .right-card {
    .created-date {
      font-style: italic;
    }

    .status {
      text-align: center;
      min-width: 50%;
      ::ng-deep {
        .mat-select-value,
        .mat-select-arrow {
          color: var(--bg-column);
        }
      }
    }
  }
}

.patient-card.done {
  color: var(--done-color);
  border-color: var(--done-color);
  .left-card {
    .patient-name {
      background-color: var(--done-color);
    }
  }
  .center-card {
    .patient-arrhythmias {
      ul {
        border-color: var(--done-color);
      }
    }
  }
  .right-card {
    .status {
      background-color: var(--done-btn);
    }
  }
}

.patient-card.rejected {
  color: var(--rejected-color);
  border-color: var(--rejected-color);
  .left-card {
    .patient-name {
      background-color: var(--rejected-color);
    }
  }
  .center-card {
    .patient-arrhythmias {
      ul {
        border-color: var(--rejected-color);
      }
    }
  }
  .right-card {
    .status {
      background-color: var(--rejected-btn);
    }
  }
}

.mat-option {
  color: var(--bg-column);
  text-align: center;
  &.pending {
    background-color: var(--pending-btn);
  }

  &.rejected {
    background-color: var(--rejected-btn);
  }

  &.done {
    background-color: var(--done-btn);
  }
}
