.patient-card {
  height: 100%;
  border-radius: 10px;
  border: 3px solid var(--text-color);
  padding: 10px;

  .left-card,
  .center-card,
  .right-card {
    text-align: center;
  }

  .left-card {
    .patient-name {
      color: var(--bg-column);
      background-color: var(--text-color);
      padding: 10px;
      border-radius: 10px;
      text-align: center;
    }
  }

  .center-card {
    .patient-arrhythmias {
      height: calc(100% - 20px);
      div {
        height: 20%;
      }
      ul {
        height: 80%;
        overflow-y: auto;
        list-style: none;
        padding: 0;
        border: 1px solid var(--text-color);
        border-radius: 10px;
      }
    }
  }

  .right-card {
    .created-date {
      font-style: italic;
    }

    .status {
    }
  }
}
