<div class="cards-column">
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
  <div class="patient-card">
    <app-patient-card></app-patient-card>
  </div>
</div>
