.cards-column {
  height: 100%;
  background: var(--bg-column);
  border-radius: 10px;
  overflow: auto;

  .patient-card {
    @media (min-width: 1280px) {
      margin: 10px;
      height: calc(25%);
    }
    @media (max-width: 1279px) {
      margin: 5px;
    }
  }
}
