:root {
  --bg-column: #e5e5e5;
  --bg-gradient: linear-gradient(#0e0b77, #2320b7, #0e0b77);
  --text-color: #16175f;

  --pending-btn: #3c50e0;

  --rejected-color: #aa2e25;
  --rejected-btn: #f44336;

  --done-color: #357a38;
  --done-btn: #4caf50;
}
